<% @posts.each do |p| %>

<div class="post-border">

	<div class="dropdown pull-right">
		<button class="glyphicon glyphicon-chevron-down dropdown-toggle button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#"><%= link_to "Profile", profile_path(@user) %></a></li>
			<li><a href="#"><%= link_to "Edit Post", edit_user_post_path(@user, p) %></a></li>
			<li><a href="#"><%= link_to "Show Post", user_post_path(@user, p) %></a></li>
			<li><a href="#"><%= link_to "Delete Post", user_post_path(@user, p), method: :delete, data: {confirm: "Are you sure?"} %></a></li>
		</ul>
	</div>
	<%= image_tag @user.avatar.url(:medium) %>
	<h3 class="title-border">
		<%= p.title %>
	</h3>
	<%= p.body %><br>
	<%= User.find(p.user_id).username %><br>
	<%= City.find(p.city_id).city_name %><br>

</div>
<% end %>