

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-12 profile">
        <h3><%= current_user.username %><%= "'s " %>Posts</h3>
        <div class="col-md-8">
          <%= render 'users/showposts' %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 profile-section text-center">
          <div class="dropdown pull-left">
            <button class="glyphicon glyphicon-chevron-down dropdown-toggle button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Update Profile", edit_user_path(@user) %></li>
            </ul>
          </div>
          <div class="profile-img img-responsive center-block" alt="Responsive image">
            <%= image_tag @user.avatar.url(:medium), class: "img-circle" %>
          </div>
            <h1><%= current_user.first_name %><%= " " %> <%= current_user.last_name %><span>
              <hr class="style-one">
              <p class="profile-body"><%= current_user.current_city %></p>
              <p class="profile-body">Joined Since: 
                <%= current_user.created_at.strftime("%b. %Y") %>
              </p>
            </h1>
        </div>
      </div>  
    </div> 
  </div>
  


