

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><%= current_user.first_name %><%= " " %> <%= current_user.last_name %><span>
          <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_user_path(:id => @user.id)%></button></span>
          <p class="lead"><%= current_user.username %></p>
          <p class="lead"><%= current_user.current_city %></p>
          <p class="lead">Joined Since: <%= current_user.created_at.strftime("%b. %Y") %></p>
        </h1>
      </div>
    </div> 
  </div><!-- /cont -->
  
 
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
        
          
          <!--/stories-->
      <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Post Entry Title</h3>
              <div class="row">
                <div class="col-xs-9">

                  <%= render 'users/showposts' %>
                  
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
               