

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <h1><%= current_user.first_name %><%= " " %> <%= current_user.last_name %><span>
            <p class="lead"><%= current_user.username %></p>
            <p class="lead"><%= current_user.current_city %></p>
            <p class="lead">Joined Since: <%= current_user.created_at.strftime("%b. %Y") %></p>
            <p><%= link_to "Edit", edit_user_path(@user) %></p>
          </h1>
        </div>
        <div class="col-md-9">
          <h3><%= current_user.username %><%= " " %>Posts</h3>
          <%= render 'users/showposts' %>
        </div>
      </div>  
    </div> 
  </div>
  
 

               