
<div class="col-md-6 offset-3">
	<div class="form-group">
		<% @posts.each do |p| %>
			<%= p.title %><br>
			<%= p.body %><br>
			<%= p.user_id %><br>
			<hr>
			<%= link_to "Show post", user_post_path(@user, p) %><br>
			<% if current_user && current_user.posts.include?(@post) %>
				<%= link_to "", edit_user_post_path(@user, p), class: "glyphicon glyphicon-pencil edit-post" %><br>
				<%= link_to "", user_post_path(@user, p), method: :delete, class: "glyphicon glyphicon-remove delete-post" %><br>
			<% end %>
			<%= link_to "Profile", profile_path(@user) %>
			<hr>
		<% end %>
	</div>
</div>