<div class="col-md-12">
	<div class="col-md-4"></div>
	<div class="col-md-4 post post-border">
		<div class="form-group">
			<h3><%= @post.title %></h3><br>
			<%= @post.body %><br>
			<%= User.find(@post.user_id).username %><br>
			<%= City.find(@post.city_id).city_name %><br>
			<hr class="style-one">
			<% if current_user && (current_user.id == @post.user_id) %>
				<%= link_to "All my posts", profile_path%>
			<% else %>
				<%= link_to "Go back", :back %>
			<% end %>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>