<div class="col-md-12 map-container">
	<div id="city-img">
		<img src="<%= @city.city_photo %>"></img>
	</div>
</div>
<div class="col-md-12 post">
	<div class="col-md-3 post-border">
		<h1 class="logo"><%= @city.city_name %></h1>
		<hr class="style-one">
		<p>London is the capital and most populous city of England and the United Kingdom. Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium. London's ancient core, the City of London, largely retains its 1.12-square-mile (2.9 km2) medieval boundaries and in 2011 had a resident population of 7,375, making it the smallest city in England.</p>
		<div>
		<hr class="style-one">	
			<% if current_user %>
			<a class="btn btn-default" href="/profile/<%= current_user.username %>/posts/new">Write a post</a>
			<% else %>
			<a href="/login" class="btn btn-default">Log in to write a post</a>
			<% end %>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-7 post-border">
		<h1>Recent Posts</h1>
		<span><%= paginate @posts %></span>
		<hr class="style-one">
		<div class="title">
			<% @posts.each do |p| %>
			<p>	
				<% if current_user && (current_user.id == p.user_id) %>
				<%= link_to "", user_post_path(p.user, p), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %>	
				<% end %>
				<%= link_to p.title, user_post_path(p.user, p) %>
			</p>
			<% end %>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>


