<div class="col-md-12 map-container animated slideInDown">
	<img class="city-img" src="<%= @city.city_photo %>"></img>
</div>
<div class="col-md-12 post">
	<div class="col-md-3 post-border animated slideInLeft">
		<h1 class="logo"><%= @city.city_name %></h1>
		<hr class="style-one">
		<p><%= @city.city_description %> </p>
		<div>
		<hr class="style-one">	
			<% if current_user %>
			<a class="btn btn-default" href="/profile/<%= current_user.username %>/posts/new">Write a post</a>
			<% else %>
			<a href="/login" class="btn btn-default">Log in to write a post</a>
			<% end %>
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-7 post-border animated slideInUp">
		<h1>Recent Posts</h1>
		<span><%= paginate @posts %></span>
		<hr class="style-one">
		<div class="title">
			<% @posts.each do |p| %>
			<p>	
				<%= link_to p.title, user_post_path(p.user, p) %>
				<% if current_user && (current_user.id == p.user_id) %>
				<%= link_to "", user_post_path(p.user, p), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-remove delete-post" %>
				<%= link_to "", edit_user_post_path(p.user, p), class: "glyphicon glyphicon-pencil" %>	
				<% end %>
			</p>
			<% end %>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>


